{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}

	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Категории:</a>
		</li>
		{% for category in categories %}
		<li class="nav-item">
			<a class="nav-link active" href="{% url 'category_detail' category.pk %}">{{ category.name }}</a>
		</li>
		{% endfor %}
	</ul>

	<center><h2>Все новости</h2></center>
	{% for article in articles %}
	<div class="card">
		<div class="card-header">
			<p><span class="font-weight"><a href="{% url 'article_detail' article.pk %}">{{ article.title|truncatewords:20 }}</a></span></p>
			<p><span class="text-muted">Автор: {{ article.author }} | {{ article.date }}</span>
			<span class="float-right">Категория: <a href="{% url 'category_detail' article.category.pk %}">{{ article.category.name }}</a>
		</div>
		<div class="card-body">
			{{ article.body|linebreaksbr|truncatewords:100 }}
		</div>
		{% if perms.articles.change_article and perms.articles.delete_article %}
		<div class="card-footer text-center text-muted">
			<a href="{% url 'article_edit' article.pk %}">Редактировать</a> |
			<a href="{% url 'article_delete' article.pk %}">Удалить</a>
		</div>
		{% endif %}
	</div>
	<br>
	{% endfor %}

	{% if is_paginated %}
	<div class="d-flex justify-content-center">
		<nav aria-label="...">
			<ul class="pagination">

				{% if page_obj.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
					</li>
				{% endif %}
				
				{% for n in page_obj.paginator.page_range %}
					{% if page_obj.number == n %}
						<li class="page-item active" aria-current="page">
							<a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
						</li>
					{% elif n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}
						<li class="page-item">
							<a class="page-link" href="?page={{ n }}">{{ n }}</a>
						</li>
					{% endif %}
				{% endfor %}

				{% if page_obj.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
					</li>	
				{% endif %}

			</ul>
		</nav>
	</div>
	{% endif %}

{% endblock content %}
