{% extends 'base.html' %}

{% block title %}Категория {{ category.name }}{% endblock title %}

{% block content %}

	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Категории:</a>
		</li>
		{% for category in categories %}
		<li class="nav-item">
			<a class="nav-link active" href="{% url 'category_detail' category.pk %}">{{ category.name }}</a>
		</li>
		{% endfor %}
	</ul>

	<center><h2>Новости категории: {{ category.name }}</h2></center>
	{% for article in category.article_set.all %}
	<div class="card">
		<div class="card-header">
			<p><span class="font-weight"><a href="{% url 'article_detail' article.pk %}">{{ article.title|truncatewords:20 }}</a></span></p>
			<p><span class="text-muted">Автор: {{ article.author }} | {{ article.date }}</span>
			<span class="float-right">Категория: <a href="{% url 'category_detail' article.category.pk %}">{{ article.category.name }}</a>
		</div>
		<div class="card-body">
			{{ article.body|linebreaksbr|truncatewords:100 }}
		</div>
		{% if perms.articles.change_article and perms.articles.delete_article %}
		<div class="card-footer text-center text-muted">
			<a href="{% url 'article_edit' article.pk %}">Редактировать</a> |
			<a href="{% url 'article_delete' article.pk %}">Удалить</a>
		</div>
		{% endif %}
	</div>
	<br>
	{% endfor %}

{% endblock content %}